/* -- Google Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-semi: 600;
    --hue-color: 205;
    --first-color: hsl(var(--hue-color), 100%, 45%);
    /*===== Fuente y tipografia =====*/
    --body-font: 'DM Sans', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
  
html{
    scroll-behavior: smooth;
}
  
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:black;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}  
a{
    text-decoration: none;
}

/*===== LAYOUT =====*/

.bd-grid{
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(127, 131, 135, 0.15);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
  
@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: black;
      transition: .5s;
    }
}
  
.nav__item {
    margin-bottom: var(--mb-4);
    font-size: 15px;
}
  
.nav__link {
    position: relative;
    color: black;
}
  
.nav__link:hover {
    position: relative;
}
  
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
  
.nav__logo {
    color: var(--first-color);
    font-size: 33px;
    padding-right: 180px;
}

.nav__toggle {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
}
  
.home__data {
    align-self: center;
}
  
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home__title-color {
    color: var(--first-color);
}
.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 360px;
}
/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
}
.button_aboutus {
    padding: 20px;
    position: absolute;
    border:none; 
    border-radius:10px; 
    font-family: 'DM Sans', sans-serif;;
    font-size: 17px;
    min-height:10px; 
    min-width: 85px;
}
  
.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}
/* ===== MEDIA QUERIES=====*/

@media screen and (max-width: 320px) {
    .home {
      row-gap: 2rem;
    }
    .home__img {
      width: 200px;
    }
}

@media screen and (min-width: 567px){

    .home{
        padding: 4rem 0 2rem;
    }
    .home__img{
        width: 300px;
        bottom: 25%;
    }
}

@media screen and (min-width: 768px){
    body {
      margin: 0;
    }
    .nav {
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: 30px;
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--second-color);
    }
    .home {
        padding: 8rem 0 2rem;
    }
    .home__img {
        width: 400px;
        top: 15%;
    }
}
  
@media screen and (min-width: 992px){
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
        padding: 10rem 0 2rem;
    }
    .home__img {
        width: 400px;
    }
}