/* -- Google Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-semi: 600;
    --hue-color: 205;
    --first-color: hsl(var(--hue-color), 100%, 45%);
    /*===== Fuente y tipografia =====*/
    --body-font: 'DM Sans', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}
@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
  
html{
    scroll-behavior: smooth;
}
  
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:black;
}
h1, h2, p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}  
a{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/*===== LAYOUT =====*/

.bd-grid{
    max-width: 1024px;
    display: grid;
    padding-left: var(--mb-2);
    padding-right: var(--mb-2);
    /* margin-left: var(--mb-2);
    margin-right: var(--mb-2); */
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: var(--z-fixed);
     background-color: rgba(255, 255, 255, 0.692); 
    box-shadow: 0 1px 4px rgba(127, 131, 135, 0.15);
}

.l-main {
    padding-left: var(--mb-4);
    padding-right: var(--mb-4);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    backdrop-filter: blur(5px);
}
  
@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: black;
      transition: .5s;
    }
}
  
.nav__item {
    margin-bottom: var(--mb-4);
    font-size: 15px;
}
  
.nav__link {
    position: relative;
    color: black;
}
  
.nav__link:hover {
    position: relative;
}
  
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
  
.nav__logo {
    color: var(--first-color);
    font-size: 33px;
    padding-right: 180px;
}

.nav__toggle {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
}
  
.home__data {
    align-self: center;
}
  
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home__title-color {
    color: var(--first-color);
}
.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 360px;
}
/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
}
.button_aboutus {
    padding: 20px;
    position: absolute;
    border:none; 
    border-radius:10px; 
    font-family: 'DM Sans', sans-serif;;
    font-size: 17px;
    min-height:10px; 
    min-width: auto;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
    row-gap: 2rem;
    text-align: center;
}
  
.about__title {
    font-size: 3rem;
    margin-bottom: var(--mb-4);
}
.about__text{
    font-size: 1.2rem;
    color: #8E8E8E;
}
.about__title-color {
    color: var(--first-color);
} 
.about__img {
    justify-self: center;
}
  
.about__img img {
    width: 200px;
    border-radius: .5rem;
}

/* ======= RESOURCES =======*/
#category-box {
    width: 68rem;
}
.resources {
    padding: 7rem 2rem 0rem;
}
.media-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: var(--big-font-size);
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.category {
    /* display: inline-block; */
    width: 16rem;
    height: 22rem;
    margin: 40px 20px;
    border-radius: 12px;
    background: white;
    box-shadow: 6px 12px 24px -5px #BCBCBC;
}
.categoryimg {
    background: #BCBCBC;
    width: auto;
    height: 122px;
    border-radius: 12px 12px 0px 0px;
} 
.categorytext {  
    /* width: auto;  If we do not mention then also it's okay */
    /* height: auto; If we do not mention then also it's okay */
    text-align: center;
    padding: 0px 25px;
}
.categorytext > h3 {
    margin: 14px;
    font-size: 24px;
}
.categorytext > p {
    font-size: 14px;
    /* padding: 5px; */
}
.categorytext > button {
    border-radius: 6px;
    margin: 24px auto;
    width: auto;
    border-radius: 8px;
    background-color: #000;
}

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	font-size: 2.5rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: var(--first-color);
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 30px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}
/* ===== MEDIA QUERIES =====*/

@media screen and (max-width: 320px) {
    .home {
      row-gap: 2rem;
    }
    .home__img {
      width: 200px;
    }
}

@media screen and (min-width: 567px){

    .home{
        padding: 4rem 0 2rem;
    }
    .home__img{
        width: 300px;
        bottom: 25%;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
}

@media screen and (min-width: 768px){
    body {
      margin: 0;
    }
    .nav {
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: 30px;
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--second-color);
    }
    .home {
        padding: 8rem 0 2rem;
    }
    .home__img {
        width: 400px;
        top: 15%;
    }
    .about__container {
        padding-top: 10rem;
    }
    .about__img img {
        width: 300px;
    }
}
  
@media screen and (min-width: 992px){
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
        padding: 10rem 0 2rem;
    }
    .home__img {
        width: 400px;
    }
}